---
import { Icon } from 'astro-icon/components';
---


<button class="search-button open-search-modal" type="button">
  <Icon name="octicon:search-24" />
  <span>記事の検索</span>
</button>

<style>
  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--primary-bg, #f0f0f0);
    margin-bottom: 0.5rem;
    border: 1px solid var(--primary-border, #ccc);
    border-radius: var(--radius, 8px);
    padding: 0.6rem 1rem;
    color: var(--primary-text, #333);
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  .search-button:hover {
    cursor: pointer;
    background-color: var(--primary-hover-bg, #e0e0e0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .search-button svg {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
  }

  [astro-icon="octicon:search-24"] {
    color: var(--icon-color, #555);
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    function handleKeydown(event) {
      if (event.keyCode === 75 && event.metaKey) {
        // Ctrl+K or Cmd+K
        document.querySelector('.open-search-modal').click()
      }
    }

    document.addEventListener('keydown', handleKeydown)
  })
</script>
